/*  颜色  */
@color-text: #8a8a8a;
@color-text-hover: #333;
@color-background: #fff;
@color-icon: #fff;
@color-icon-background: #463e3e6b;
@color-icon-hover-background: #d1d0d0;

/*  字体大小  */
@icon-size: 1rem;


/*  边框样式  */
@border-style: 1px solid #e8e8e8d8;
